#ignore Matlab autosave files
*.m~
*.asv

#ignore matlab binary files
*.mat
#*.mlx
*.fig

#ignore image binary files
*.png
*.pdf
*.jpg

#ignore data binary files
*.dat
*.evt
*.meta
*.mp4
*.nrs
*.tsp
*.xlsx
*.docx

# ignore data directory
/data/*
!/data/.gitkeep

# ignore private codes
/code/lib/private/*
!code/lib/private/.gitkeep
/code/helper/private/*
!code/helper/private/.gitkeep

# ignore results directory
/results/*
!/results/.gitkeep